<header role="banner">
    <img
            width="40"
            alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Angular Reactive Forms</span>
</header>

<main role="main">

    <div class="form-area">
        <h1>Form with Validation</h1>

        <div class="flex-container">
            <div>
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
                    <label for="email">Email</label>
                    <input id="email" type="text" formControlName="email">

                    <label for="password">Password</label>
                    <input id="password" type="password" formControlName="password">

                    <label for="age">Age</label>
                    <input id="age" type="number" formControlName="age">

                    <label for="agreeToTerms">I Agree</label>
                    <input id="agreeToTerms" type="checkbox" formControlName="agreeToTerms">

                    <button type="submit" [disabled]="signupForm.invalid">Submit</button>
                    <button type="button" (click)="resetForm(signupForm)">Reset Form</button>
                </form>
            </div>

            <div>
                <h2>Form States</h2>
                <ul>
                    <li>Valid: <span [ngClass]="'value-'+signupForm.valid">{{signupForm.valid}}</span></li>
                    <li>Untouched: <span [ngClass]="'value-'+signupForm.untouched">{{signupForm.untouched}}</span></li>
                    <li>Pristine: <span [ngClass]="'value-'+signupForm.pristine">{{signupForm.pristine}}</span></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="form-area">
        <h1>Form with Nested Form Groups</h1>

        <div class="flex-container">
            <div>
                <form [formGroup]="addressForm" (ngSubmit)="onSubmit(addressForm)">

                    <h2>Home Address</h2>
                    <fieldset formGroupName="homeAddress">
                        <label for="street-home">Street Address</label>
                        <input id="street-home" type="text" formControlName="street">

                        <label for="city-home">City</label>
                        <input id="city-home" type="text" formControlName="city">

                        <label for="state-home">State</label>
                        <input id="state-home" type="text" formControlName="state">
                    </fieldset>

                    <h2>Business Address</h2>
                    <fieldset formGroupName="businessAddress">
                        <label for="street-business">Street Address</label>
                        <input id="street-business" type="text" formControlName="street">

                        <label for="city-business">City</label>
                        <input id="city-business" type="text" formControlName="city">

                        <label for="state-business">State</label>
                        <input id="state-business" type="text" formControlName="state">
                    </fieldset>

                    <button type="submit" [disabled]="addressForm.invalid">Submit</button>
                    <button type="button" (click)="resetForm(addressForm)">Reset Form</button>
                </form>
            </div>

            <div>
                <h2>Form States</h2>
                <ul>
                    <li>Valid: <span [ngClass]="'value-'+addressForm.valid">{{addressForm.valid}}</span></li>
                    <li>Untouched: <span [ngClass]="'value-'+addressForm.untouched">{{addressForm.untouched}}</span></li>
                    <li>Pristine: <span [ngClass]="'value-'+addressForm.pristine">{{addressForm.pristine}}</span></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="form-area">
        <h1>Dynamic Form using FormArray</h1>

        <div class="flex-container">
            <div>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
                    <div formArrayName="contacts">
                        <div *ngFor="let contact of contactForms.controls; let i=index" [formGroupName]="i"
                             class="form-group">
                            <input type="text" placeholder="First Name" formControlName="firstName">
                            <input type="text" placeholder="Last Name" formControlName="lastName">
                            <input type="text" placeholder="Phone Number" formControlName="phoneNumber">
                            <button type="button" (click)="removeContact(i)" *ngIf="i">Delete</button>
                        </div>
                    </div>

                    <button type="button" (click)="addContact()">Add Contact</button>
                    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
                    <button type="button" (click)="resetForm(contactForm)">Reset Form</button>
                </form>
            </div>

            <div>
                <h2>Form States</h2>
                <ul>
                    <li>Valid: <span [ngClass]="'value-'+contactForm.valid">{{contactForm.valid}}</span></li>
                    <li>Untouched: <span [ngClass]="'value-'+contactForm.untouched">{{contactForm.untouched}}</span></li>
                    <li>Pristine: <span [ngClass]="'value-'+contactForm.pristine">{{contactForm.pristine}}</span></li>
                </ul>
            </div>
        </div>

    </div>

</main>

<footer>
    <div>
        <a href="http://angular.io/docs" target="_blank"><i class="fab fa-angular"></i> Angular Docs</a>
        | <a href="http://github.com/caitlinallie/angular-reactive-forms" target="_blank"><i class="fab fa-github"></i>
        GitHub</a>
        | Caitlin Allie, 2021
    </div>
</footer>
